
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="mat-typography">
<div class="row" style="justify-content: center;">
  <div class="col-lg-3" style="align-items: center;">
    <img src="/assets/logoipsum.png" alt="image" style="height:100px;">
  </div>
  <div class="col-lg-4 col-md-4 col-4" >

    <mat-form-field appearance="outline">
      <input matInput placeholder="User Name">
      <mat-icon matSuffix></mat-icon>
    </mat-form-field>

  </div>
  <div class="col-lg-4 col-md-4 col-4">
  
    <mat-form-field appearance="outline">
    
      <input matInput placeholder="Password">
      <mat-icon matSuffix>https</mat-icon>
 
    </mat-form-field>

  </div>
  <div class="text-center col-lg-5">
    <button
    mat-raised-button

    matTooltip="This is a tooltip!" class="text-center">Sign In</button>
  </div>
 
</div>
 
</body>
</html>

